#table {}
#table tr.color1{
	background-color:#FFFFFF;
	line-height: 60px;
	height: 60px;
}
#table tr.color2{
	background-color:#f7f2ef;
	line-height: 60px;
	height: 60px;
}
#table thead {
	font-family: "微软雅黑";
	font-size: 14px;
	line-height: 40px;
	font-weight: bold;
	text-align: center;
	height: 40px;
	background-color: #ad7f65;
	color: #FFFFFF;
}